body {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  line-height: normal;
  background-color: darkgray;
}

section {
  display: flex;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.form_input {
  margin-top: 10px;
  margin-bottom: 20px;
}

.countries_info {
  list-style: none;
}

.language_info {
  margin-top: 10px;
}

img {
  margin-left: 50px;
  width: 640px;
  height: 420px;
}
